Container[dir="row"] {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 0px auto 180px;
  transition: all .4s ease-in-out;

  @media (max-width: 760px) {
    flex-direction: column;
  }
}

ImageWrapper {
  widows: 1;
  width: 100%;
  max-width: 420px;

  @media (max-width: 760px) {
    margin-bottom: 40px;
  }
}

ImageContainer[color] {
  width: 220px;
  height: 220px;
  background-color: var(--theme.colors.$color.400);
  border-radius: 50%;
  position: relative;

  img {
    width: 270px;
    position: absolute;
    top: -40%;
    left: -20%;
  }

  @media (max-width: 410px) {
    img {
      left: 0px;
    }
  }
}

DataWrapper {
  widows: 1;
  width: 100%;

  h4 {
    font-size: 22px;
    font-weight: 900;
    text-transform: capitalize;
    color: #000000;
  }

  p {
    font-size: 14px;
    color: #7c7c7c;
    line-height: 18px;
    margin-top: 9px;
  }

  ul {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
      margin: 0px 5px 5px 0px;
    }
  }

  div {
    width: 100%;
    margin: 28px 0px 0px;

    button {
      padding: 10px 18px 9px;
      font-size: 16px;
      color: #ffffff;
      background-color: var(--theme.colors.blue.400);
      border: 0px;
      outline: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      &:hover {
        background-color: var(--theme.colors.blue.600);
      }

      &:active {
        background-color: var(--theme.colors.blue.800);
      }

      span {
        margin-left: 12px;
        font-size: 12px;
      }
    }
  }
}

li.Bullet[color="white"] {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--theme.colors.$color.300);

  &:hover {
    background-color: var(--theme.colors.$color.600);
  }
}
