body {
	background-color: #ffffff;
	position: relative;
	overflow-x: hidden;
}

body {
	background-image: url(../img/i/7.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

body, html, #container, div#container-bg {
	height: 100%;
	width: 100%;
}

#container {
	max-width: 2950px;
}

#container {
    position: relative;
    z-index: 2;
}

div#container-bg {
	position: fixed;
	top: 0px;
	left: 0px;
    background: rgba(255, 255, 255, 0.91) none repeat;
}

.footer.x,
.header-container, 
.header-container .header-body, 
.header-container .header-menu,
.header-container .header-menu .header-menu-container,
.header-container .header-body .header-slider,
.footer.x .footer.container .footer-col .footer-col-title,
.footer.x .footer.container .footer-col .footer-col-title span,
.footer.x .footer.container .footer-col .news-latter-container,
.footer.x .footer.container .footer-col .news-latter-container .news-latter-text,
.footer.x .footer.container .footer-col .news-latter-container .news-latter-body,
.footer.x .footer.container .footer-col2 .footer-col2-links-body,
.footer.x .footer.container .footer-col2 .footer-col2-links-body ul,
.footer.x .footer.container .footer-col2 .footer-col2-links-body ul li,
.footer.x .footer.container .footer-col2 .footer-col2-links-body ul li a,
.footer.x .footer.container .footer-col1-links {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
}

.header-container .header-body {
    margin: -4px .0px .0px;
}

.header-container .header-body {
    height: 540px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.28);
    border-style: solid;
    border-color: #989898;
    border-width: .0px .0px 1px;
    opacity: .9;
}

.header-container .header-menu .header-menu-container {
	display: table;
}

.header-container .header-menu .header-menu-container .header-menu-logo,
.header-container .header-menu .header-menu-container .header-menu-body {
	display: table-cell;
}

.header-container .header-menu .header-menu-container .header-menu-body {
	width: 100%;
	text-align: right;
}

.header-container .header-menu .header-menu-container .header-menu-body ul.header-menu-list {
	list-style: none;
	list-style-type: none;
	padding: .0px;
	margin: .0px;
}

.header-container .header-menu .header-menu-container .header-menu-body ul.header-menu-list li.header-menu-list-item {
	display: inline-block;
	margin: .0px -4px .0px .0px;
}

.header-container .header-menu .header-menu-container .header-menu-body ul.header-menu-list li.header-menu-list-item i.fa {
	position: relative;
}

.header-container .header-menu .header-menu-container .header-menu-body ul.header-menu-list li.header-menu-list-item span {
	display: inline-block;
	pointer-events: none;
}

.header-container .header-menu .header-menu-container .header-menu-body ul.header-menu-list li.header-menu-list-item a.header-menu-list-item-link {
    color: #6cabf1;
    padding: 25px 23px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    transition: background .8s linear;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.42);
    letter-spacing: 2px;
}

.header-container .header-menu .header-menu-container .header-menu-body ul.header-menu-list li.header-menu-list-item a.header-menu-list-item-link:hover,
.header-container .header-menu .header-menu-container .header-menu-body ul.header-menu-list li.header-menu-list-item a.header-menu-list-item-link.selected {
	background: #ececec none repeat scroll 0% 0%;
}

.header-container .header-body .header-slider {
	height: 100% !important;
}

.header-container .header-body .header-slider .swiper-slide,
.header-container .header-body .header-slider .swiper-wrapper,
.header-container .header-body .header-slider .swiper-container,
.header-container .header-body .header-slider .header-slider-element {
	height: 100%;
}

.header-container .header-body .header-title {
    position: absolute;
    left: 52px;
    bottom: 64px;
    background: transparent none repeat;
    z-index: 3;
    font-size: 48px;
    font-family: "Trebuchet MS", "Segoe UI", "Arial", helvetica, sans-serif;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.82);
    max-width: 540px;
}

.header-container .header-body .header-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.82);
    left: -2px;
    top: -6px;
}

.header-container .header-menu {
    background: rgb(255, 255, 255) none repeat scroll 0%;
    padding: .0px 30px;
    box-shadow: 0px 0px 0px rgba(41, 41, 41, 0.06);
}

.header-slider-element {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105% auto;
    -webkit-background-size: 105% auto;
    -moz-background-size: 105% auto;
    -ms-background-size: 105% auto;
    -o-background-size: 105% auto;
}

.main.container div.body {
	padding: 72px .0px 100px;
}

.fixed-header-menu.header-menu {
    position: fixed !important;
    top: 0px;
    z-index: 4;
    left: 0px;
    box-shadow: 0px 10px 7px 1px rgba(0, 0, 0, 0.23);
    background: rgb(255, 255, 255) none repeat scroll 0%;
}

.footer.x {
    background: rgba(255, 255, 255, 0.68) none repeat scroll 0%;
    border-style: solid none none;
    border-width: 1px .0px .0px;
    border-color: #cacaca;
    padding: 68px 9px 33px;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.11);
}

.footer.x .footer.container .footer-col,
.footer.x .footer.container .footer-col1,
.footer.x .footer.container .footer-col2,
.footer.x .footer.container .footer-col3 {
    position: relative;
}

.footer.x .footer.container .footer-col .footer-col-title {
    padding: 20px .0px 30px;
}

.footer.x .footer.container .footer-col .footer-col-title span {
    font-size: 34px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.44);
    letter-spacing: 3px;
    line-height: 45px;
}

.footer.x .footer.container .footer-col .news-latter-container {
    margin: .0px .0px 36px;
}

.footer.x .footer.container .footer-col .news-latter-container .news-latter-text {
    padding: .0px .0px 30px;
    font-size: 18px;
    color: #ababab;
    font-weight: 500;
    letter-spacing: 2px;
}

.footer.x .footer.container .footer-col .news-latter-container .news-latter-body {
    width: 100%;
}

.footer.x .footer.container .footer-col .news-latter-container .news-latter-body .textFieldContainer {
    width: 100%;
}

.footer.x .footer.container .footer-col .news-latter-container .news-latter-body .textFieldContainer:before {
    background: #fbfcfa !important;
}

.footer.x .footer.container .footer-col .news-latter-container .news-latter-body * {
    background: transparent !important;
}

.footer.x .footer.container .footer-col1-links {
    padding: .0px;
}

.footer.x .footer.container .footer-col1-links ul {
    margin: .0px;
    list-style: none;
    list-style-type: none;
    padding: 2px .0px 11px;
}

.footer.x .footer.container .footer-col1-links ul li {
    display: inline-block;
    margin: .0px 10px 10px .0px;
}

.footer.x .footer.container .footer-col1-links ul li a {
    color: #6098b3;
    font-size: 19px;
    font-weight: 400;
}

.footer.x .footer.container .footer-col1-links ul li a:hover {
    text-decoration: underline;
}

.footer.x .footer.container .footer-col1 .submitContainer {
    margin: 18px .0px .0px;
}

.footer.x .footer.container .footer-col1 .submitContainer input {
    border: 1px solid #d8d3d3;
    box-shadow: 0 0 3px 0px #c1c1c187;
    color: #212121;
    text-shadow: none;
    font-weight: 100;
}

.footer.x .footer.container .footer-col2 .footer-col2-links-body ul {
    list-style: none;
    list-style-type: none;
    padding: .0px;
}

.footer.x .footer.container .footer-col2 .footer-col2-links-body ul.footer-col2-links-list li {
    margin: .0px;
}

.footer.x .footer.container .footer-col2 .footer-col2-links-body ul.footer-col2-links-list li a:hover {
    text-decoration: underline;
}

.footer.x .footer.container .footer-col2 .footer-col2-links-body ul.footer-col2-links-list li a {
    color: #679db7;
    width: auto;
    padding: 4px;
}

ul.styled-list li {
    padding-left: 15px;
    position: relative !important;
}

ul.styled-list li:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 9px;
    height: 9px;
    background: #a6c5d4;
    top: 0px;
    bottom: 0px;
    margin: auto;
    margin-top: +12px;
    border-radius: 50%;
}

.news-feed-body .post-container {
    background: transparent none repeat scroll 0%;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.18);
    margin: .0px .0px 22px;
}