header.HeaderContainer {
  width: 100%;
}

LogoWrapper {
  width: 120px;

  div {
    width: 100%;

    svg {
      width: 100%;
      margin-top: -25px;
    }
  }

  @media (max-width: 450px) {
    display: none;
  }
}

HeaderMenuContainer {
  width: 100%;
  padding: 36px 30px 30px;
  display: flex;
}

MenuBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 790px) {
    justify-content: flex-end;
  }

  @media (max-width: 450px) {
    justify-content: center;
  }
}

MenuWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    width: 100%;

    ul {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        margin: 0px 9px;

        a {
          color: #303030;
          font-size: 14px;
          font-weight: 800;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media (max-width: 790px) {
    display: none;
  }
}

IconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    width: 100%;

    ul {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        margin: 0px 14px;

        a {
          font-size: 22px;
          color: #303030;
          outline: 0px;
        }
      }
    }
  }
}

HeaderBody {
  width: 100%;
  /*padding: 0px 30px;*/
}

NavigationMenu {
  width: 100%;
  max-width: 420px;
  background-color: #ffffff;
  box-shadow: 0px 13px 13px rgb(0 0 0 / 16%);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 40px 20px 20px;
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: 10;
  display: none;

  div {
    width: 100%;

    ul {
      width: 100%;
      padding: 0px;
      margin: 0px;

      li {
        margin: 6px 0px;

        a {
          display: block;
          padding: 12px 17px;
          border-radius: 4px;
          color: #000000;
          font-weight: 700;
          position: relative;

          &:hover {
            background-color: #f1f1f1;
          }

          &:before {
            content: "";
            display: block;
            width: 7px;
            height: 2px;
            background-color: #000000;
            position: absolute;
            right: 17px;
            top: 50%;
            margin-top: -1px;
          }
        }
      }
    }

    ol {
      width: 100%;
      padding: 10px 0px 0px;
      margin: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        margin: 0px 12px 12px 0px;

        a {
          color: #000000;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

BannerCaptionTitle {
  position: absolute;
  right: 22%;
  top: 0px;
  bottom: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  transition: all .3s ease-in-out;

  * {
    transition: all .3s ease-in-out;
  }

  code {
    transform: rotateZ(270deg);
    font-size: 101px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-color: rgb(0 0 0 / 15%);
    -webkit-text-stroke-width: thin;
    user-select: none;
    pointer-events: none;
  }

  @media (max-width: 1160px) {
    right: 50px;
    align-items: flex-start;
    padding-top: 100px;

    code {
      font-size: 70px;
    }
  }

  @media (max-width: 400px) {
    right: 20px;
    align-items: center;
    padding-top: 100px;

    code {
      font-size: 55px;
    }
  }
}

HeaderBannerContainer {
  width: 100%;
  height: 520px;
  position: relative;
  background-color: #ebebeb;
  /*border-radius: 15px;*/
  overflow: hidden;

  &:after {
    content: "";
    width: 280px;
    height: 280px;
    position: absolute;
    background-color: rgb(0 0 0 / 4%);
    border-radius: 50%;
    right: 120px;
    top: -80px;
  }

  &:before {
    content: "";
    width: 371px;
    height: 371px;
    position: absolute;
    border: 30px solid rgb(0 0 0 / 4%);
    border-radius: 50%;
    right: 74px;
    top: -127px;
  }
}

label.HeaderBannerLabel {
  position: absolute;
  bottom: 57px;
  left: 18px;
  font-size: 14px;
  font-weight: 700;
  transform: rotateZ(-270deg);
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;

  &:after {
    content: '';
    height: 2px;
    width: 17px;
    background-color: #455a64;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: -26px;
  }
}

HeaderBannerContentWrapper {
  width: 100%;
  height: max-content;
  max-width: 277px;
  position: absolute;
  text-align: left;
  left: 120px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  transition: all .3s ease-in-out;

  * {
    text-transform: uppercase;
    transition: all .3s ease-in-out;
  }

  strong {
    font-weight: 600;
    font-size: 10px;
    display: flex;
    color: #000000;
    flex-direction: row;
    align-items: center;
    margin-bottom: 17px;

    &:before {
      content: "";
      width: 17px;
      height: 2px;
      background-color: #000000;
      display: block;
      margin-right: 9px;
    }
  }

  h1 {
    font-size: 51px;
    font-weight: 900;
    color: #000000;
    font-family: "Roboto Black", "Arial Black", "Arial Narraw", "Arial", Helvetica, sans-serif;
    line-height: 40px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    padding: 6px 0px 12px;
  }

  a {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 26px;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &:before {
        content: "";
        width: 17px;
        height: 2px;
        background-color: #ffffff;
        display: block;
        margin-right: 9px;
      }
    }
  }

  @media (max-width: 866px) {
    left: 40px;
  }

  @media (max-width: 560px) {
    h1 {
      font-size: 35px;
      line-height: 34px;
    }

    p {
      font-size: 11px;
    }

    a {
      font-size: 10px;
      padding: 5px 16px;
    }
  }

  @media (max-width: 500px) {
    top: 35px;
    bottom: unset;

    p {
      padding: 6px 0px 5px;
    }
  }

  @media (max-width: 400px) {
    text-align: center;

    strong {
      justify-content: center;
    }
  }
}

HeaderBannerImageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;

  * {
    transition: all .3s ease-in-out;
  }

  div {
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      width: 80%;
      max-width: 510px;

      @media (max-width: 820px) {
        max-width: 310px;
      }
    }
  }

  @media (max-width: 1160px) {
    div {
      justify-content: flex-end;
    }
  }
}
