AccordionContainer {
  width: 100%;

  input {
    display: none;

    &:checked ~ label {
      background-color: #320200;
      color: #d7cfc2;

      p {
        display: block;
      }

      h4 {
        i.fa-minus {
          display: inline-block;
        }

        i.fa-plus {
          display: none;
        }
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d7cfc2;
    border-radius: 12px;
    color: #320200;
    margin: 0px 0px 20px;
    padding: 24px;
    cursor: pointer;

    h4 {
      margin: 0px;
      padding: 0px;
      font-size: 34px;
      font-weight: 800;
      color: inherit;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      i.fa-minus {
        display: none;
      }
    }

    p {
      display: none;
      width: 100%;
      padding: 10px 0px 0px;
      font-size: 14px;
    }
  }

  @media (max-width: 650px) {
    width: 100%;

    label h4 {
      font-size: 21px;
      line-height: 23px;
    }
  }
}

AccordionListContainer {
  width: 100%;
  display: block;
  padding: 20px 0px 50px;
}
