footer.Container {
  width: 100%;
  height: auto;
  background-color: #000000;
}

Body {
  width: 100%;
  padding: 120px 120px 70px;


  div.row.bottom {
    padding-top: 70px;
  }

  div.footer-logo {
    width: 100%;
    max-width: 170px;

    img {
      width: 100%;
    }
  }

  ul {
    padding: 0px;
    margin: 0px;
  }

  div.footer-col {
    position: relative;

    strong {
      font-size: 25px;
      color: #ffffff;
      font-weight: 700;
      display: block;
      margin-bottom: 21px;
    }

    ul {
      padding: 0px;
      margin: 0px;

      li {
        list-style: none;
        margin: 0px 0px 8px;

        @media (max-width: 991px) {
          display: inline-block;
          margin: 0px 17px 17px 0px;
        }

        a {
          font-size: 14px;
          color: #c3c3c3;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  div.social-media-links-wrapper {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    ul {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        margin-left: 18px;

        a {
          display: flex;
          width: 42px;
          height: 42px;
          background-color: #ffffff;
          color: #000000;
          font-size: 18px;
          border-radius: 50%;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid transparent;

          &:hover {
            background-color: transparent;
            border-color: #ffffff;
            color: #ffffff;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding: 70px;
  }

  @media (max-width: 767px) {
    div.row.bottom .col-md-8 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.social-media-links-wrapper {
      padding-top: 50px;
      justify-content: center;
    }
  }
}

Details {
  width: 100%;
  padding: 50px 120px;
  background-color: #0a0a0a;

  ul {
    padding: 0px;
    margin: 0px;
  }

  .col-lg-5 {
    display: flex;
    align-items: center;
  }

  .copy-data {
    text-align: left;

    span {
      font-size: 13px;
      color: #ffffff;
    }
  }

  .footer-menu-links {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    li {
      display: inline-flex;
      margin: 5px 0px 5px 6px;
      align-items: center;

      a {
        color: #ffffff;
        font-size: 12px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 991px) {
    text-align: center;
    padding: 50px 20px;

    .col-lg-5 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .col-lg-7 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
    }

    .footer-menu-links {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
